.authorization {
	width: 850px;
	height: 430px;
	background-color: #f2f2f2;
	border-radius: 10px;
	margin: 0 auto;
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 6rem;
}

.authorizationLeftWrapper {
	width: 500px;
	padding: 0 48px;
}

.authorizationText {
	font-size: 1rem;
	font-weight: 400;
	line-height: 23.44px;
	text-align: left;
	color: #838383;
	height: 50px;
	margin: 0 0 5px 0;
}
.titleWrapper {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.linkUpdate {
	font-size: 18px;
	color: #1f2937;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
}
.linkUpdate:hover {
	color: #ff8f52;
	text-decoration: underline;
}

.regLink {
	color: #ff8f52;
	text-decoration: none;
}
.regLink:hover {
	text-decoration: underline;
}
