.cartFooter {
	display: grid;
	grid-template-columns: repeat(2, 2fr) 3fr 2.7fr 1.7fr;
	padding: 15px 0;
	background-color: #80808020;
	border-radius: 0 0 10px 10px;
	font-weight: 700;
	font-size: 18px;
	align-items: center;
	justify-items: center;
}

.cartFooterCount {
	grid-column-start: 3;
}

.cartFooterPrice {
	color: #ff8f52;
	font-size: 22px;
}
