.select {
	border: 1px solid rgba(0, 0, 0, 0.4);
	font-size: 18px;
	border-radius: 5px;
	outline-color: #ff8f52;
	height: 40px;
	width: 240px;
	text-align: center;
	background: none;
	appearance: none;
	background-image: url('https://i.postimg.cc/J0yKBsmT/icons8-triangle-24.png');
	background-repeat: no-repeat, repeat;
	background-position: right 0.7em top 50%, 0 0;
	background-size: 0.75em auto, 100%;
}
