.wrapperApp {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 75rem;
	min-height: 100%;
	margin: 0 auto;
	background-image: url('https://1.downloader.disk.yandex.ru/preview/fd7b09974e4da285e54afb1e552406641214b861a79fc73095394a084b47d64c/inf/jvQwDcH0g9x26Ehoo82KndBGYU_y0Wzd2BXVuQthySHr8EHYfkPT1bhQUkwJSyt-3E2d7MwhvUjUe246Nz0FCw%3D%3D?uid=537849441&filename=pngwing.com%20%2826%29.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=537849441&tknv=v2&size=1896x896');
}

.wrapperApp:after {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.8);
}

.appColumn {
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.page {
	/* padding: 120px 10px 120px; */
	margin-top: 3rem;
	padding: 0 4rem;
}
